.sprite {
    background: url(../img/sprite.jpeg) no-repeat;
    background-size: 2700px 800px;
    width: 542px;
    height: 404px;
    margin: 0 auto;
}

.movement1 { background-position: 0 0; }

.movement2 { background-position: 25% 0; }

.movement3 { background-position: 50% 0; }

.movement4 { background-position: 75% 0; }

.movement5 { background-position: 100% 0; }

.movement6 { background-position: 0 100%; }

.movement7 { background-position: 25% 100%; }

.movement8 { background-position: 50% 100%; }

.movement9 { background-position: 75% 100%; }