body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 1000% 1000%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    position: fixed;
    top: 0px;
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
    background-color: #3399ff;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
}

footer {
    position: fixed;
    bottom:0px;
    color: #ffffff;
    background-color: #3399ff;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.gap {
    display: inline-block;
    font-size: 2em;
    border: solid 2px;
    padding: 2%;
    margin: 1%;
}

* {box-sizing: border-box;}

.img-zoom-container {
    position: relative;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
  }

  .img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 300px;
    height: 300px;
  }